# This is a basic workflow to help you get started with Actions

name: build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ variable_density ]
  pull_request:
    branches: [ variable_density ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Test shell
        run: echo "Kore test with shell type $SHELL"

      # Runs a set of commands using the runners shell
      - name: Install pre-requisites
        run: |
          sudo apt-get update
          sudo apt-get -y install python3-scipy python3-mpi4py python3-slepc4py-complex3.15
          
        
      - name: Run test
        run: |
          ulimit -s unlimited
          cd ${{github.workspace}}/examples
          export PETSC_DIR=/usr/lib/petscdir/petsc3.15/x86_64-linux-gnu-complex
          export SLEPC_DIR=/usr/lib/slepcdir/slepc3.15/x86_64-linux-gnu-complex
          python3 kore_test.py --nranks 2
